{% extends 'base.html' %}

{% block content %}
        <div class="my_content_container">


            <div id="map_well" class="well">
                <h5>
                    DISCLAIMER
                </h5>
                <div class="text-left text-justify">
                    <p>
                        The Matcha is a non-commercial, non-profit project. The owner of the site is not responsible for
                        any harm that the project can make to its users.
                    </p>
                    <p>enjoy...</p>
                </div>

            </div>

            <div style="height: 29px"></div>
            <div id="footer">
                &copy; 2017 Serhii Ladonia All Rights Reserved
            </div>
            <a name="bottom"></a>
        </div>
{% endblock %}
