{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabinet.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/browse.css') }}">
{% endblock %}
{% block content %}
    <div class="my_content_container">

        {% if connections_confirmed.__len__() == 0 and connections_unconfirmed.__len__() == 0
                        and connections_requested.__len__() == 0 %}

            <div class="well">
                <div class="well_header">
                    <h5>Your have no connections yet</h5>
                </div>
            </div>

        {% endif %}

        {% if connections_confirmed.__len__() != 0 %}
            <div class="well_header">
                <h5>Your connections</h5>
            </div>

            {% for user in connections_confirmed %}

                <div class="well">
                    <div class="container_photo_browse vertical_align_middle my-sm-3">
                        <div style="background: url(' {{ user.avatar_path }}') no-repeat"
                             class="photo_browse">
                        </div>
                    </div>
                    <div class="vertical_align_middle text-left my-sm-9">
                        <div class="info_box container_radial">
                            <a class="underline" href="{{ user.homepage }}">View profile</a><br>
                            {{ user.login }} ({{ user.first_name }} {{ user.last_name }})<br>
                            {{ user.preferences }} {{ user.man_or_woman }}, {{ user.age }} years old<br>
                            from: {{ user.city }}<br>
                            distance: {{ user.distance }} km<br>
                            sexuality: {{ user.sexuality }}<br>
                            interests: {{ user.interests_str }}<br>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

        {% if connections_unconfirmed.__len__() != 0 %}

            <div class="well_header">
                <h5>They liked your account</h5>
            </div>


            {% for user in connections_unconfirmed %}

                <div class="well">
                    <div class="container_photo_browse vertical_align_middle my-sm-3">
                        <div style="background: url(' {{ user.avatar_path }}') no-repeat"
                             class="photo_browse">
                        </div>
                    </div>
                    <div class="vertical_align_middle text-left my-sm-9">
                        <div class="info_box container_radial">
                            <a class="underline" href="{{ user.homepage }}">View profile</a><br>
                            {{ user.login }} ({{ user.first_name }} {{ user.last_name }})<br>
                            {{ user.preferences }} {{ user.man_or_woman }}, {{ user.age }} years old<br>
                            from: {{ user.city }}<br>
                            distance: {{ user.distance }} km<br>
                            sexuality: {{ user.sexuality }}<br>
                            interests: {{ user.interests_str }}<br>
                        </div>
                    </div>
                </div>

            {% endfor %}



        {% endif %}

        {% if connections_requested.__len__() != 0 %}

            <div class="well_header">
                <h5>You liked their accounts</h5>
            </div>

            {% for user in connections_requested %}

                <div class="well">
                    <div class="container_photo_browse vertical_align_middle my-sm-3">
                        <div style="background: url(' {{ user.avatar_path }}') no-repeat"
                             class="photo_browse">
                        </div>
                    </div>
                    <div class="vertical_align_middle text-left my-sm-9">
                        <div class="info_box container_radial">
                            <a class="underline" href="{{ user.homepage }}">View profile</a><br>
                            {{ user.login }} ({{ user.first_name }} {{ user.last_name }})<br>
                            {{ user.preferences }} {{ user.man_or_woman }}, {{ user.age }} years old<br>
                            from: {{ user.city }}<br>
                            distance: {{ user.distance }} km<br>
                            sexuality: {{ user.sexuality }}<br>
                            interests: {{ user.interests_str }}<br>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

        {% if connections_blocked.__len__() != 0 %}

            <div class="well_header">
                <h5>Blocked users</h5>
            </div>

            {% for user in connections_blocked %}

                <div class="well">
                    <div class="container_photo_browse vertical_align_middle my-sm-3">
                        <div style="background: url(' {{ user.avatar_path }}') no-repeat"
                             class="photo_browse">
                        </div>
                    </div>
                    <div class="vertical_align_middle text-left my-sm-9">
                        <div class="info_box container_radial">
                            <a class="underline" href="{{ user.homepage }}">View profile</a><br>
                            {{ user.login }} ({{ user.first_name }} {{ user.last_name }})<br>
                            {{ user.preferences }} {{ user.man_or_woman }}, {{ user.age }} years old<br>
                            from: {{ user.city }}<br>
                            distance: {{ user.distance }} km<br>
                            sexuality: {{ user.sexuality }}<br>
                            interests: {{ user.interests_str }}<br>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

        <div style="height: 29px">
        </div>
        <div id="footer">
            &copy; 2017 Serhii Ladonia All Rights Reserved
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src=" {{ url_for('static', filename='js/cabinet.js') }} "></script>
{% endblock %}