{% extends 'base_reg.html' %}

{% block content %}
    <div class="container login_container">
        <div class="well login_well">
            <form class="login_form" action="#/" method="post">

            {{ form.hidden_tag() }}

                <div class="form-group">
                    <h5 style="text-align: center">RESET PASSWD</h5>
                </div>

                <div class="form-group">
                    {{ form.email(class='form-control', placeholder='email', required=True) }}
                    {% for error in form.email.errors %}
                        <div class="alert-warning">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="">
                    <input required type="submit" name="reset_passwd" value="RESET PASSWORD" class="form-control"
                           id="submit">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
