{% extends 'base_reg.html' %}

{% block content %}
    <div class="container">
        <div class="well text-center">
            <h5 class="">USER AGREAMENT</h5>
            <p class="text-left">We are not responsible for any harm this site can provide to you. You and
                only you are
                responsible for the content you upload. We do not guarantee keeping your personal data safe. You are
                using this website on your own risk</p>
            <p>
                Only adult people are allowed to use this service. By accpting the user agreament you confirm that you
                are elder 18.
            </p>
            <p>
                <a href="/registration">
                    <button type="button" class="btn btn-primary">
                        Go back to registration
                    </button>
                </a>

            </p>

        </div>
    </div>
{% endblock %}
